table, th, td {
    border: 2px solid steelblue;
    color: black;
    border-collapse: collapse;
    width: 50%;
}

body {
    background-color:pink;
    font: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

form {
    padding-top: 2%;
}

input {
    border: solid bisque;
}

textarea {
    border: solid grey;
}
