body {
    background-color: rgb(39, 26, 26);
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
.esimerkki {
    color: teal;
    background-color: beige;
    border: 2px solid black;
    border-radius: 20px;
    height: 15px;
    width: 150px;
}
.border {
    border: 2px solid beige;
    margin-left: 5%;
    margin-right: 5%;
}