body {
    margin-right: 15%;
    margin-left: 15%;
    background-color:rgb(19, 18, 18);
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.mb-3 {
    width: 60%;
    text-align: center;
}

#button {
    text-align: center;
    padding-top: 2%;
}

#koira {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 2%;
}

p {
    text-align: center;
}

#box {
    text-align: center;
}

.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}

#currentlink {
    color: pink;
}