body {
  background-color: rgb(19, 18, 18);
  font-family:'Courier New', Courier, monospace;
  color:white;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  color:white;
  border-style: dotted;
  margin-left: 25%;
  margin-right: 25%;
  border-color: pink;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
  color:white;
  padding-top: 5%;
  text-align: center;
}

li {
  color:white;
}

.col-sm-4 {
  padding-top: 5%;
}

.carousel-item {
height: 30%;
padding-top: 2%;
}

.navbar-nav .nav-item:hover .nav-link {
color: pink;
}

#currentlink {
color: pink;
}
