.navbar {
    background-color: black;
    color: white;
    text-decoration: none;
}

A:visited {
    color: thistle;
}

.img-circle {
    border-radius: 50%;
    width: 40%;
    height: 50%;
}

.col-sm-4 {
    height: 20%;
}

h1 {
    text-align: center;
}

#container2 {
    text-align: center;
}

.container {
    text-align: center;
}