body {
    margin-right: 10%;
    margin-left: 10%;
    background-color:rgb(19, 18, 18);
    color: pink;
    padding-top: 10%;
}

#koira {
    padding-top: 5%;
}

#koira2 {
    padding-top: 5%;
}

#koira3 {
    padding-top: 5%;
}

h1 {
    padding-top:10%;
    text-align: center;
}

h3 {
    padding-top: 20%;
    text-align: center;
}

.navbar-default {
    padding-top: 25%;
}