body {
    margin-right: 15%;
    margin-left: 15%;
    background-color:rgb(19, 18, 18);
    color: pink;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    padding-top:10%;
    text-align: center;
}

h3 {
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
}

.center {
  justify-content: center;
  align-content: center;
}

.navbar-nav .nav-item:hover .nav-link {
  color: pink;
}

p {
  text-align: center;
}

#currentlink {
  color: pink;
}


